:root {
    --arm-image: url('products/arm.jpg');
    --leg-image: url('products/leg.jpg');
    --eye-image: url('products/eye.jpg');
    --ear-image: url('products/ear.jpg');
    --heart-image: url('products/heart.jpg');
    --lungs-image: url('products/lung.jpg');
    --regulator-image: url('products/regulator.jpg');
    --neuralink-image: url('products/neuralink.jpg');
  }